{% for program in programs %}
    <article>
        <h1>
            <a href="{{ url_for("rss_program", slug=program.slug) }}">
                {{ program.name }}
            </a>
        </h1>
        <ul>
            {% for host in program.hosts %}
                <li>{{ host.firstname }} {{ host.lastname }}</li>
            {% endfor %}
        </ul>
        <blockquote>{{ program.description }}</blockquote>
    </article>
{% endfor %}